# Standards: 0.11
---

- name: Restart sshd
  service:
    name: sshd
    state: restarted

- name: Restart rsyslog
  service:
    name: rsyslog
    state: restarted

- name: Restart auditd
  service: name=auditd state=restarted use=service

- name: restart firewalld
  service:
    name: firewalld
    state: restarted
