# Standards: 0.11
---

# 4.1.15 Ensure changes to system administration scope (sudoers) is collected (Scored)

- name: 4.1.15 Ensure changes to system administration scope (sudoers) is collected(Verify registered output matches)
  lineinfile:
    path: "{{ cis_audit_rules_filename }}"
    line: "{{ item }}"
  with_items:
    - '# 4.1.15 Ensure changes to system administration scope (sudoers) is collected'
    - '-w /etc/sudoers -p wa -k scope'
    - '-w /etc/sudoers.d -p wa -k scope'
  tags:
    - "4.1.15"
    - level-2
    - section-4
    - scored
