# Standards: 0.11
---

# 4.1.1.3 Ensure audit logs are not automatically deleted (Scored)

- name: 4.1.1.3 Ensure audit logs are not automatically deleted (Scored)
  lineinfile:
    regexp: "^max_log_file_action = ROTATE"
    line: "max_log_file_action = keep_logs"
    dest: "{{ cis_audit_auditd_filename }}"
    state: present
  notify: Restart auditd
  tags:
    - level-2
    - section-4
    - "4.1.1.3"
    - scored
