# Standards: 0.11
---

# 4.1.18 Ensure the audit configuration is immutable (Scored)

- name: 4.1.18 Ensure the audit configuration is immutable
  lineinfile:
    dest: "{{ cis_audit_rules_filename }}"
    line: "{{ item }}"
  with_items:
    - '# 4.1.18 Ensure the audit configuration is immutable'
    - '-e 2'
  tags:
    - "4.1.18"
    - level-2
    - section-4
    - scored
