module auditd 1.0;

require {
        type var_log_t;
        type auditd_t;
        class dir setattr;
        class file { create open read setattr };
}

#============= auditd_t ==============
allow auditd_t var_log_t:dir setattr;
allow auditd_t var_log_t:file setattr;
allow auditd_t var_log_t:file { create open read };
