# Standards: 0.11
---

# 1.6.1.1 Ensure SELinux is not disabled in bootloader configuration (Scored)

- name: Install the SE Linux requirements - libselinux-python
  yum:
    name: libselinux-python
    state: installed

- name: Install the SE Linux requirements - policycoreutils-python
  yum:
    name: policycoreutils-python
    state: installed

- name: 1.6.1.1 Ensure SELinux is not disabled in bootloader configuration (Scored)
  replace:
    dest: "{{ cis_grub_configuration_filename }}"
    regexp: '^(GRUB_CMDLINE_LINUX_DEFAULT=.*)\"$'
    replace: '\1 {{ item }}=1"'
  with_items:
    - selinux
    - enforcing
  notify: grub2cfg

- name: Relabel files on next boot if SELinux mode changed
  file:
    path: /.autorelabel
    state: touch
  when:
    - ansible_selinux.status == 'enabled'
    
- name: Copy SELinux type enforcement file
  copy: src=../../files/auditd.te
        dest=/tmp/

- name: Compile SELinux module file
  command: checkmodule -M -m -o /tmp/auditd.mod /tmp/auditd.te

- name: Build SELinux policy package
  command: semodule_package -o /tmp/auditd.pp -m /tmp/auditd.mod

- name: Load SELinux policy package
  command: semodule -i /tmp/auditd.pp

- name: Remove temporary files
  file: path=/tmp/auditd.*
        state=absent
