# Standards: 0.11
---

# 1.6.1.1 Ensure SELinux is not disabled in bootloader configuration (Scored)

- name: Install the SE Linux requirements - libselinux-python
  yum:
    name: libselinux-python
    state: installed

- name: Install the SE Linux requirements - policycoreutils-python
  yum:
    name: policycoreutils-python
    state: installed

- name: 1.6.1.1 Ensure SELinux is not disabled in bootloader configuration (Scored)
  selinux:
    policy: targeted
    state: enforcing
  register: selinux_status_change
  changed_when: selinux_status_change is changed and ansible_selinux.status != 'disabled'
  tags:
      - level-1
      - section-1
      - "1.1.11"
      - scored

- name: Relabel files on next boot if SELinux mode changed
  file:
    path: /.autorelabel
    state: touch
  when:
    - ansible_selinux.status == 'enabled'
