# Standards: 0.11
---

# 3.5.1.1 Ensure default deny firewall policy IPV4

- name: 3.5.1.1 - Ensure default deny firewall policy(DROP INPUT)IPV4
  iptables:
    chain: "{{ item }}"
    policy: DROP
    ip_version: ipv4
  become: yes
  with_items:
    - INPUT
    - FORWARD
    - OUTPUT
  when:
    - firewall == "iptables"
  tags:
    - level-1
    - section-3
    - "3.5.1.1"
    - scored
