# Standards: 0.11
---

# 3.5.2.1 Ensure default deny firewall policy IPV6

- name: 3.5.2.1 - Ensure default deny firewall policy(DROP INPUT)IPV6
  iptables:
    chain: "{{item}}"
    policy: DROP
    ip_version: ipv6
  become: yes
  with_items:
    - INPUT
    - FORWARD
    - OUTPUT
  tags:
    - level-1
    - section-3
    - "3.5.2.1"
    - scored
