# Standards: 0.11
---

# 3.5.1.2 Ensure loopback traffic is configured

- name: 3.5.1.2 - Ensure loopback traffic is configured(-i lo)
  iptables:
    chain: INPUT
    in_interface: "lo"
    jump: ACCEPT
    ip_version: ipv4
  become: yes
  tags:
    - level-1
    - section-3
    - "3.5.1.2"
    - scored

- name: 3.5.1.2 - Ensure loopback traffic is configured(-o lo)
  iptables:
    chain: OUTPUT
    out_interface: "lo"
    jump: ACCEPT
    ip_version: ipv4
  become: yes
  tags:
    - level-1
    - section-3
    - "3.5.1.2"
    - scored

- name: 3.5.1.2 - Ensure loopback traffic is configured(-i ::1)
  iptables:
    chain: INPUT
    source: 127.0.0.0/8
    jump: DROP
    ip_version: ipv4
  become: yes
  tags:
    - level-1
    - section-3
    - "3.5.1.2"
    - scored
